@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss"




@layer utilities {
    .font-inter{
        font-family:  "Inter", sans-serif;
    }
}

/* .menubar{
    visibility: hidden;
}
@media screen and (max-width:576px) {
        .mobile-view{
            display: none;
            ;
        }
        nav{
            display: flex;
            justify-content: space-between;
        }
        .menubar{
            visibility: visible;
        }
      
} */